export(BeadFlowFrame)
export(mefTransform)
exportClasses(BeadFlowFrame)
exportClasses(GatedBeadFlowFrame)
exportMethods(absoluteNormalise)
exportMethods(gateBeads)
exportMethods(generateReport)
exportMethods(getClusteringStats)
exportMethods(getDate)
exportMethods(getMEFparams)
exportMethods(getMEFtransform)
exportMethods(getParams)
exportMethods(getTransformFunction)
exportMethods(hasMEF)
exportMethods(length)
exportMethods(plot)
exportMethods(relativeNormalise)
exportMethods(toMEF)
import(flowCore)
